@model peeweeptech.Models.Kod

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create New Code</h2>

@using (Html.BeginForm("Create", "AdminKod", FormMethod.Post, new { enctype ="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kod</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.kategori_id, "kategori_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kategori_id", String.Empty)
                @Html.ValidationMessageFor(model => model.kategori_id)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.baslik, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.baslik)
                @Html.ValidationMessageFor(model => model.baslik)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.icerik, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.icerik)
                @Html.ValidationMessageFor(model => model.icerik)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.foto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="foto" id="foto" accept=".jpg, .png, .gif, .JPEG, .jpeg" class="form-control"/>
                @Html.ValidationMessageFor(model => model.foto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tarih, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
          
              @Html.EditorFor(model => model.tarih)
                @Html.ValidationMessageFor(model => model.tarih)
            </div>

        </div>

            <div class="form-group">
                @Html.Label("Etiketler", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Etiketler")
                </div>

            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Index")
</div>
